/* Estilos básicos para el contenedor del mapa y la página */
body, html {
    height: 100%;  /* Asegura que el cuerpo y HTML ocupen toda la pantalla */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px;
}

#map {
    height: 100%;  /* Hace que el mapa ocupe toda la altura de la pantalla */
    width: 100%;   /* Hace que el mapa ocupe todo el ancho de la pantalla */
}
